{% extends "base.html.twig" %}
{% block title "Agence DARI" %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence DARI</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero maiores atque distinctio culpa consectetur. Sit commodi dolor cupiditate facere, repudiandae nostrum laboriosam. Iste ullam neque, quasi id eligendi quae numquam exercitationem officiis! Cumque, tempora ad. Porro reprehenderit, dolorem reiciendis voluptates earum et? At eius sit, iste similique in iure nihil.</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
             {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id:property.id, slug: property.slug}) }}">{{ property.title }}</a>
                                <p class="card-text"> {{ property.city}} ({{ property.postalCode }})</p>
                                <div class="text-primary" style="font-weight: bold; font-size: 2rem;"> {{ property.formattedPrice }} $ </div>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
{% endblock %}